<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<th:block th:fragment="defaultHeader2">
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Departments</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="https://www.google.com/search?sca_esv=b3b81d1d30ec7baa&sca_upv=1&q=%ED%96%84%EB%B2%84%EA%B1%B0&udm=2&fbs=AEQNm0DmKhoYsBCHazhZSCWuALW8l8eUs1i3TeMYPF4tXSfZ98Z_XVxzNb13fp2atSe3aTZGEeZYS1KN7iEfyHhcptnxGn2g6MCT6JtHS_5VowIp9Szy6020Eb5hQ8uEBASornZaDHgI5liv0u2ZMHwoGXAyEgk12zJpT1iIJIJjHIiUkiKVJbub45ZX7oEX2W53lQ6zMgfs&sa=X&ved=2ahUKEwj-zs3Xm62IAxU6kq8BHdK_Cw4QtKgLegQIDRAB&biw=1920&bih=919&dpr=1" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/deptList" class="nav-link">전체부서조회</a></li>
        <li class="nav-item"><a href="/deptInsert" class="nav-link">부서등록</a></li>
      </ul>
    </header>
  </div>
</th:block>
</html>